* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
}

nav {
  display: block;
  filter: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  position: fixed;
  background: none;
  color: white;
  border: none;
  z-index: 3;
}

nav ul {
  position: fixed;
  height: 70px;
  width: 100vw;
  font-size: calc(14px + 0.5vw);
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

nav a {
  padding: 1em;
  display: block;
}

nav > ul > li > a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  outline: none;
  font-size: calc(20px + 0.5vw);
}

.logo {
  height: auto;
  width: 3.5rem;
  min-width: 50px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

section p {
  font-size: calc(16px + 1.2vw);
}

#home {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#784386),
    color-stop(25%, #6271bc),
    color-stop(75%, #00bcd2),
    to(#19c2b4)
  );
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-text {
  width: 50%;
  text-align: left;
}

.home-text h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.home-text button {
  font-size: 1.1em;
  border: none;
  margin-top: 20px;
  border-radius: 50px;
  padding: 0.8em 2em;
  outline: none;
}

.home-text button:hover {
  background: blue;
}

.home-text button a {
  text-decoration: none;
}

.home-img-container {
  width: 35%;
}

.home-img {
  position: relative;
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.diagonal {
  position: absolute;
  width: 200vw;
  height: 300px;
  bottom: -125px;
  transform: rotate(-10deg);
  background: white;
  z-index: 1;
}

#whatToExpect * {
  z-index: 2;
}

iframe {
  width: 90vw;
  height: 90vh;
}

#product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-content: space-evenly;
  align-items: start;
  grid-gap: 50px;
  padding: 20px;
}

.sections-background {
  position: absolute;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  left: 0;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjRO4eEfx02Em30hOnP6-DZZaZFylmybuyTORkBOBmns7fuflE")
    no-repeat top center;
  background-size: cover;
  opacity: 0.05;
}

#product h1 {
  grid-column: 1 / -1;
  font-size: 2em;
  text-decoration: underline;
}

#product button {
  padding: 10px;
  font-size: 1.5em;
  outline: none;
}

#product button:hover span {
  display: none;
}

#product button:hover:before {
  font-weight: 700;
  color: cornflowerblue;
}

#product .btn-intro:hover:before {
  content: "600 €";
}

#product .btn-standard:hover:before {
  content: "900 €";
}

#product .btn-suite:hover:before {
  content: "1200 €";
}

.offers {
  border: 1px solid black;
  border-radius: 5px;
  background: #6f594a0d;
}

.offer-1 .product-title {
  background: #00bf8c;
}

.offer-2 .product-title {
  background: #0899d6;
}

.offer-3 .product-title {
  background: #6a6c82;
}

.product-title {
  font-size: 1.5rem;
  padding: 1rem; /* 10px */
  margin-bottom: 1rem; /* 15px */
  font-weight: 600;
}

.product-description {
  padding: 2.5rem;
  font-size: 1.2rem;
  margin-bottom: 50px;
  line-height: 1.5rem;
}

.offers button {
  border: none;
  width: 100%;
  border-top: 1px solid black;
  font-weight: 600;
}

.best-value-offer {
  border-top: 1px solid #e1e3e43d;
  border-bottom: 1px solid #e1e3e43d;
  position: absolute;
  font-weight: 900;
  font-size: 0.8em;
  color: #fff1ec;
  width: 150px;
  right: -1rem;
  padding-left: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  transform: rotate(45deg);
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: blue;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#contact form {
  display: flex;
}

input[type="mail"] {
  padding: 10px;
  min-width: 300px;
  margin-right: 30px;
  font-size: 1em;
  outline: none;
}

input[type="submit"] {
  padding: 5px;
  min-width: 100px;
  font-size: 1em;
  outline: none;
  font-variant: all-petite-caps;
  background: #0000001c;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
}

footer p {
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #3f51b5;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  nav ul li {
    overflow: hidden;
  }

  nav ul li a {
    font-size: 1rem;
  }

  #isometric {
    display: block;
    width: 100%;
    order: -1;
    text-align: center;
  }

  nav ul {
    height: auto;
    padding: 0;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
  }

  nav a {
    display: unset;
    padding: 0.5rem;
  }

  #home {
    height: 100vh;
    padding-top: 5rem;
    overflow: hidden;
  }

  .home-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-container h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .home-container p {
    font-size: 1em;
  }

  .home-text {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
  }

  .home-text br {
    display: none;
  }

  .home-img-container {
    order: -1;
    width: 60%;
    margin-bottom: 1rem;
  }

  .diagonal {
    display: none;
  }

  iframe {
    width: 80vw;
    height: 80vh;
  }

  #product {
    height: 100%;
    display: flex;
    overflow: scroll;
  }

  #product h1 {
    font-size: 1.5em;
  }

  .offers {
    max-width: 50%;
    min-width: max-content;
    margin: 1rem;
  }

  .best-value-offer {
    display: none;
  }

  .product-description {
    padding: 1rem;
    font-size: 1.2rem;
    margin-bottom: 0px;
    line-height: 1.5rem;
  }

  #contact {
    height: 15vh;
  }

  input[type="mail"] {
    min-width: unset;
  }

  footer {
    text-align: center;
    flex-wrap: wrap;
    padding-top: 1rem 0 1rem 0;
  }

  footer p {
    font-size: 1rem;
    font-weight: 600;
  }

  footer span {
    width: 100%;
    font-size: 1rem;
    padding-top: 1rem;
  }
}

/* #intro {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background: url("https://images.pond5.com/young-man-looking-bt-window-footage-073738460_prevstill.jpeg")
    no-repeat center center;
  background-size: cover;
  opacity: 0;
}

#overlay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#text-intro {
  color: white;
  font-size: 2.5em;
}

https://codepen.io/dudleystorey/full/RNMbGG

*/
